<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
		         type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		         requirePermission="false" />
	</configSections>

	<appSettings>
		<add key="endpoint" value="https://localhost:5001" />
		<add key="database" value="INTTEST_IAPI02" />
		<add key="apitoken" value="testtoken" />
	</appSettings>
	<connectionStrings configSource="connections.config" />
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>