<?xml version="1.0"?>
<connectionStrings>

	<add name="FinancialEntities"
	     connectionString="metadata=res://*/FinancialModel.csdl|res://*/FinancialModel.ssdl|res://*/FinancialModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
       Data Source=localhost;Initial Catalog=padbtest_csiu_int;user id=XXXXXXX;password=XXXXXXX;Integrated Security=False;Application Name=Financial;MultipleActiveResultSets=True&quot;"
	     providerName="System.Data.EntityClient" />

</connectionStrings>