<configuration>
	<packageSources>
		<add key="scsspackages" value="https://nuget.pkg.github.com/scss-dsmith/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="scss-dsmith" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>